[Desktop Entry]
Type=Application
Terminal=true
Name=Focus Bed Pod v11
Icon=utilities-terminal
Exec= venv/bin/python3 focus_automated_LINUX_ONLY.py --board bedpodv11
Path=/home/USER_NAME_GOES_HERE/repos/focus-jig
Categories=Application;
